* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

#section-1 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/4709285/pexels-photo-4709285.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border: 1px solid red; */
    position: relative;
}

#section-1 div {
    min-width: 50%;
    max-width: 75%;
    text-align: center;
    color: rgb(224, 221, 221);
    line-height: 1.5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    /* position: absolute; */
}

#section-1 div p {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}

#section-1 div p:nth-child(3) {
    display: none;
    animation: typing-text 5s;
    overflow: hidden;
    /* white-space: nowrap; */
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    position: absolute;
    z-index: 10;
    top: 0;
    /* border: 1px solid red; */
}

nav img {
    width: 50px;
    height: 60px;
}

.nav-ul {
    list-style: none;
    display: flex;
}

.nav-ul li a {
    text-decoration: none;
    color: rgb(224, 221, 221); 
    padding: 10px 20px;
    /* border: 1px solid red; */
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: rgb(224, 221, 221);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.hamburger:hover {
    outline: none;
}

#section-2 {
    /* border: 1px solid green; */
}

#section-2 #about-me, #portfolio {
    width: 75%;
    margin: 0 auto 0 auto;
    text-align: center;
}

#section-2 #about-me {
    /* border: 1px solid blue; */
    padding: 50px 0 50px 0;
}

#portfolio h1 {
    padding-bottom: 50px;
    /* border: 1px solid red; */
}

#section-2 #portfolio #grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 40px;
    transition: transform 1s;
}
.item{
    /* border: 1px solid red; */
}
#grid .item h6:first-of-type {
    margin: 10px 0 10px 0;
    font-size: 20px;
    font-weight: 550;
}

#grid .item:hover {
    /* border: 1px solid red; */
    animation: flip-with-scale;
    animation-duration: 3s;
    filter: brightness(0.4);
    
}

#section-2 #portfolio #grid img {
    width: 100%;
    height: 170px;
    border-radius: 5px;
    /* border: 1px solid salmon; */
}

#section-3 {
    width: 100%;
    /* border: 1px solid red; */
    background-color: #26262A;
    margin-top: 50px;
}

#section-3 div {
    /* border: 1px solid red; */
    min-width: 50%;
    margin: 0px auto 0 auto;
    padding: 50px 10px 50px 10px;
    text-align: center;
    color: rgba(255,255,255,.7);
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}

#social-icons {
    list-style: none;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
}

.fa {
    background-color: #26262A;
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 50%;
    margin-right: 20px;
    /* border: 1px solid white; */
}

.scroll-to-top {
    background-color: transparent;
    color: salmon;
    border: 1px solid salmon;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* z-index: 99; */
    display: none;
    cursor: pointer;
    
}

@keyframes flip-with-scale {
    0% {
        transform:perspective(400px) scaleX(1);
    }
    100% {
        transform:perspective(400px) scaleX(-1);
    }
}

@keyframes typing-text {
    0% {
        width: 0ch;
    }
    100% {
        width: 27ch;
    }
}

@media screen and (max-width: 750px){
    .nav-ul {
        display: none;
        width: 100%;
    }

    .nav-ul li{
        padding-bottom: 10px;
    }

    .nav-ul.show {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav.show {
        background-color: black;
        opacity: 0.6;
    }

    .hamburger {
        display: block ;
    }
}

@media screen and (max-width: 604px){
    #section-2 #portfolio #grid img {
        height: auto;
    }
}

/* Contact.html page style*/
.contact-page-body {
    width: 100vw;
    height: 100vh;
    background-color: #F7F8FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form-area {
    min-width: 320px;
    padding: 30px 20px;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #cccccc;
    background-color: white;
    height: auto;
}

.grid-container {
    display: grid;
    grid-gap: 20px 10px;
    grid-template-areas: "element-1 element-2"
                         "element-3 element-3"
                         "element-4 element-4"
                         "element-5 element-5"
                         "element-6 element-6";
}

.element input, textarea {
    /* display: block; */
    padding: 8px;
    margin-top: 8px;
    width: 100%;
    border: 2px solid #d0d1d6;
    border-radius: 4px;
    
}
.element input[type='submit'] {
    background-color: #5457FF;
    color: white;
    border: none;
    height: 40px;
}
.element label {
    font-size: 13px;
    font-weight: 600;
}
.element-1 {
    grid-area: element-1;
}
.element-2 {
    grid-area: element-2;
}
.element-3 {
    grid-area: element-3;
}
.element-4 {
    grid-area: element-4;
}
.element-5 {
    grid-area: element-5;
}
.element-6 {
    grid-area: element-6;
}

.contact-information-div {
    margin-top: 25px;
    padding-top: 30px;
    border-top: 2px solid  #d0d1d6;
    color:  #585e7a;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 15px;
}
.contact-information-div p {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.contact-information-div span {
    font-size: 13px;
    font-weight: 500;
    margin-left: 10px;
}

.flex-div {
    display: flex;
}